@import "colors";

nav{
    // border: 2px solid black;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: $first;
    z-index: 10;
    > h1{
        text-transform: uppercase;
    }

    > main {
        width: 70%;
        // % mtlb parent ka 70% mtlb nav 100% hai jismein 70% width lega
        display: flex;
        justify-content: flex-end;

        > a {
            color: $dark;
            margin: 1rem;

            &:hover{
                color: $third;
            }
        }
    }

}